{% extends "main.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Edit Category</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Title:</label>
        </div>
    </div>
    <form action="{{ url_for('edit_category', category_id=category.id)}}" method="post">
        <div class="row">
            <div class="col-md-12">
                <input type ="text" size="40" name="name" required autofocus
                    value="{{category.name}}"
                >
            </div>
        </div>
         <div class="row">
            <br>
            <div class="col-md-12">
                <span>
                    <a href = "{{url_for('main')}}"> Cancel &nbsp;&nbsp;</a>
                </span>
                <span>
                    <input class="btn btn-primary" type="submit" value="Save">
                </span>

            </div>
        </div>
    </form>

</div>

{% endblock %}