<!DOCTYPE html>
<html>
  <head>
    <title>Oz Birds Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/styles.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class ="container">

      <div class="row app-header">
        <div class="col-md-12">
          <span class="header-text"><a href="{{url_for('main')}}">Australian Birds App</a></span>
          {% if 'username' not in session %}
            <a href="{{url_for('showLogin')}}">
            <button class="btn btn-primary pull-right">
            Login
            </button>
          </a>
          {% else %}
          <a href="{{url_for('disconnect')}}">
            <button class="btn btn-primary pull-right">
              Logout
            </button>
          </a>
          {% endif %}
        </div>
      </div>

      <div class="row text-center">
        <div class="flash col-md-12">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
              {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
              {% endfor %}
            </ul>
            {% endif %}
          {% endwith %}
        </div>
      </div>

      <div id="app">
        <div id="content" class="content">
          {% block content %}
          {% endblock %}
        </div>
      </div>

    </div> <!-- container -->
  </body>
</html>