{% extends "content.html" %}

{% block content2 %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>New Category</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Title:</label>
        </div>
    </div>
    <form action="{{ url_for('new_category')}}" method = 'post'>
        <div class="row">
            <div class="col-md-12">
                <input type ="text" size="40" name="name" required autofocus>
            </div>
        </div>
         <div class="row">
            <br>
            <div class="col-md-12">
                <span>
                    <a href = "{{url_for('main')}}"> Cancel &nbsp;&nbsp;</a>
                </span>
                <span>
                    <input class="btn btn-primary" type="submit" value="Create">
                </span>

            </div>
        </div>
    </form>

</div>

{% endblock %}